
NbaPropPipelineA/_nba_cache/
NbaPropPipelineA/NbaPropPipelineA/
combined_slate_tickets_*.xlsx
actuals_*.csv
nba_graded_*.xlsx
cbb_graded_*.xlsx
outputs/

NbaPropPipelineA/_nba_cache/
NbaPropPipelineA/NbaPropPipelineA/
combined_slate_tickets_*.xlsx
actuals_*.csv
nba_graded_*.xlsx
cbb_graded_*.xlsx
outputs/
